@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #1fa2ff, #12d8fa, #a6ffcb);

    --background: 218 65% 4.48%;
    --foreground: 218 10% 97.8%;

    --muted: 218 50% 16.8%;
    --muted-foreground: 218 10% 55.6%;

    --popover: 218 45% 7.280000000000001%;
    --popover-foreground: 218 10% 97.8%;

    --card: 218 45% 7.280000000000001%;
    --card-foreground: 218 10% 97.8%;

    --border: 218 50% 16.8%;
    --input: 218 50% 16.8%;

    --primary: 218 100% 56%;
    --primary-foreground: 218 10% 5.6000000000000005%;

    --secondary: 218 50% 16.8%;
    --secondary-foreground: 218 10% 97.8%;

    --accent: 218 50% 16.8%;
    --accent-foreground: 218 10% 97.8%;

    --highlight: 218 50% 30%;
    --highlight-foreground: 218 40% 70%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 218 10% 97.8%;

    --success: 120 62.8% 30.6%;
    --success-foreground: 218 10% 97.8%;

    --ring: 218 100% 56%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}

* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0);
  width: 18px;
  height: 18px;
}

/* background of the scrollbar except button or resizer */
*::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0);
}

/* scrollbar itself */
*::-webkit-scrollbar-thumb {
  border: 6px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #aaaaaa;
}

/* set button(top and bottom of the scrollbar) */
*::-webkit-scrollbar-button {
  display: none;
}
