@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary-surface: #1d283a;
        --color-secondary-surface: #0f1729;
        --color-text: #f8f8f2;
    }

    [data-theme="Tokyo Night"] {
        --color-primary-surface: #24283b;
        --color-secondary-surface: #1a1b26;
        --color-text: #9aa5ce;
    }
}