@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary-surface: #303338;
        --color-secondary-surface: #2A2D31;
        --color-input-surface: #373A3F;
        --color-text: #D4D4D4;
        --color-primary-accent: #5764F2;
    }
}