@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary-surface: #313338;
        --color-secondary-surface: #1e1f22;
        --color-text: #D4D4D4;
    }
}