
:root {
    --toastify-color-light: #fff;
    --toastify-color-dark: hsl(var(--background));
    --toastify-color-info: hsl(var(--foreground));
    --toastify-color-success: #07bc0c;
    --toastify-color-warning: #f1c40f;
    --toastify-color-error: #e74c3c;
    --toastify-color-transparent: rgba(255, 255, 255, 0.7);
  
    --toastify-icon-color-info: var(--toastify-color-info);
    --toastify-icon-color-success: var(--toastify-color-success);
    --toastify-icon-color-warning: var(--toastify-color-warning);
    --toastify-icon-color-error: var(--toastify-color-error);
  
    --toastify-toast-width: 320px;
    --toastify-toast-background: #fff;
    --toastify-toast-min-height: 64px;
    --toastify-toast-max-height: 800px;
    --toastify-font-family: sans-serif;
    --toastify-z-index: 9999;
  
    --toastify-text-color-light: #757575;
    --toastify-text-color-dark: hsl(var(--foreground));
  
    /* //Used only for colored theme */
    --toastify-text-color-info: hsl(var(--foreground));
    --toastify-text-color-success: hsl(var(--foreground));
    --toastify-text-color-warning: hsl(var(--foreground));
    --toastify-text-color-error: hsl(var(--foreground));
  
    --toastify-spinner-color: #616161;
    --toastify-spinner-color-empty-area: hsl(var(--foreground));
  
    /* // Used when no type is provided
    // toast("**hello**") */
    --toastify-color-progress-light: linear-gradient(
      to right,
      #4cd964,
      #5ac8fa,
      #007aff,
      #34aadc,
      #5856d6,
      #ff2d55
    );
    /* // Used when no type is provided */
    --toastify-color-progress-dark: #bb86fc;
    --toastify-color-progress-info: var(--toastify-color-info);
    --toastify-color-progress-success: var(--toastify-color-success);
    --toastify-color-progress-warning: var(--toastify-color-warning);
    --toastify-color-progress-error: var(--toastify-color-error);
  
    /* // used to control the opacity of the progress trail */
    --toastify-color-progress-bgo: .2;
  }