@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-surface: #303338;
    --color-secondary-surface: #2a2d31;
    --color-input-surface: #373a3f;
    --color-text: #d4d4d4;
    --color-primary-accent: #5764f2;
  }
}
